.container {
  .message {

  }
  .tags {
    display: flex;
    margin-top: 2rem;
    .tag  {
      border: 1px solid var(--main-border-color);
      background-color: var(--main-primary-color);
      cursor: pointer;
      margin-right: 1rem;
      padding: 0.5rem;
      color: var(--main-bg-color);
      border-radius: 5px;
    }
  }
}