.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  .animation {
    position: fixed;
  }

  .contentWrapper {
    display: flex;
    z-index: 1;
    justify-content: center;
    margin-top: 8rem;
  }

}